* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v37_183 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_184 {
  width: 430px;
  height: 934px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v37_185 {
  width: 401px;
  height: 55px;
  background: url("../images/v37_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 14px;
  overflow: hidden;
}
.v37_186 {
  width: 209px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 36px;
  left: 97px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v37_187 {
  width: 401px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_189 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 506px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2364 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2365 {
  width: 128px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 188px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2366 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 212px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2367 {
  width: 89px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 239px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2368 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 263px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2369 {
  width: 93px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 290px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2370 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 314px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2371 {
  width: 39px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 341px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2372 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2374 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 212px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2375 {
  width: 89px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 239px;
  left: 35px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2376 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 263px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2377 {
  width: 93px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 290px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2378 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 314px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2379 {
  width: 39px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 341px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2380 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2381 {
  width: 337px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 392px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_2382 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 446px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_2383 {
  width: 258px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 473px;
  left: 37px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_191 {
  width: 171px;
  height: 40px;
  background: url("../images/v37_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 35px;
  overflow: hidden;
}
.v37_192 {
  width: 171px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_193 {
  width: 71px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 23px;
  left: 3px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v37_194 {
  width: 236px;
  height: 40px;
  background: url("../images/v37_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 35px;
  overflow: hidden;
}
.v37_195 {
  width: 236px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v37_196 {
  width: 71px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 23px;
  left: 3px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v37_2396 {
  width: 357px;
  height: 40px;
  background: url("../images/v37_2396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 35px;
  overflow: hidden;
}
.v37_2397 {
  width: 357px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v37_2398 {
  width: 71px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 23px;
  left: 3px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v37_2399 {
  width: 159px;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 246px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2400 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 799px;
  left: 282px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v37_2401 {
  width: 159px;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 46px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2402 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 799px;
  left: 59px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
