* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v71_1869 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_1870 {
  width: 430px;
  height: 932px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_1871 {
  width: 134px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 828px;
  left: 148px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v71_1878 {
  width: 125px;
  height: 25px;
  background: url("../images/v71_1878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v71_2045 {
  width: 84px;
  height: 6px;
  background: url("../images/v71_2045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 768px;
  left: 47px;
  overflow: hidden;
}
.v71_2046 {
  width: 12px;
  height: 6px;
  background: rgba(236,238,241,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v71_2047 {
  width: 24px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v71_2048 {
  width: 12px;
  height: 6px;
  background: rgba(236,238,241,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 52px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v71_2049 {
  width: 12px;
  height: 6px;
  background: rgba(236,238,241,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v71_2050 {
  width: 339px;
  height: 93px;
  background: url("../images/v71_2050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 47px;
  overflow: hidden;
}
.v71_2051 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v71_2052 {
  width: 327px;
  color: rgba(65,68,83,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v71_2053 {
  width: 430px;
  height: 599px;
  background: url("../images/v71_2053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_2054 {
  width: 430px;
  height: 602px;
  background: url("../images/v71_2054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v74_22174 {
  width: 90px;
  height: 65px;
  background: url("../images/v74_22174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 39px;
  overflow: hidden;
}
.v74_22175 {
  width: 65px;
  height: 65px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v74_22176 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 14px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v74_22161 {
  width: 170px;
  height: 65px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 34px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v74_22162 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80px;
  left: 56px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v81_10791 {
  width: 430px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v81_10792 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 286px;
  overflow: hidden;
}
.v81_10793 {
  width: 33px;
  height: 28px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
}
.v81_10794 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 197px;
  overflow: hidden;
}
.v81_10795 {
  width: 33px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v81_10796 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  overflow: hidden;
}
.v81_10797 {
  width: 28px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 6px;
}
.v81_10798 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 19px;
  overflow: hidden;
}
.v81_10799 {
  width: 40px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v81_10800 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 375px;
  overflow: hidden;
}
.v81_10801 {
  width: 36px;
  height: 36px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
