* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v95_823 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v95_824 {
  width: 430px;
  height: 932px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v95_825 {
  width: 350px;
  height: 553px;
  background: url("../images/v95_825.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 40px;
  overflow: hidden;
}
.v95_826 {
  width: 350px;
  height: 553px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v95_836 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v95_837 {
  width: 320px;
  height: 320px;
  background: url("../images/v95_837.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v81_10714 {
  width: 430px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v81_10715 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 286px;
  overflow: hidden;
}
.v81_10716 {
  width: 33px;
  height: 28px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v81_10717 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 197px;
  overflow: hidden;
}
.v81_10718 {
  width: 33px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v81_10719 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  overflow: hidden;
}
.v81_10720 {
  width: 28px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v81_10721 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 19px;
  overflow: hidden;
}
.v81_10722 {
  width: 40px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v81_10723 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 375px;
  overflow: hidden;
}
.v81_10724 {
  width: 36px;
  height: 36px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.name {
  color: #fff;
}
.v95_849 {
  width: 305px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  left: 62px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v95_850 {
  width: 125px;
  height: 25px;
  background: url("../images/v95_850.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 9px;
  overflow: hidden;
}
.v95_851 {
  width: 90px;
  height: 90px;
  background: url("../images/v95_851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 40px;
  overflow: hidden;
}
.v95_852 {
  width: 90px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v95_853 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.v95_854 {
  width: 49px;
  height: 49px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v95_855 {
  width: 50px;
  height: 50px;
  background: url("../images/v95_855.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 190px;
  overflow: hidden;
}
.v95_856 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v95_857 {
  width: 33px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v95_858 {
  width: 27px;
  height: 27px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v95_859 {
  width: 90px;
  height: 90px;
  background: url("../images/v95_859.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 300px;
  overflow: hidden;
}
.v95_860 {
  width: 90px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v95_861 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.v95_862 {
  width: 50px;
  height: 45px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 5px;
}
