* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_72 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_73 {
  width: 430px;
  height: 934px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v18_112 {
  width: 336px;
  height: 74px;
  background: url("../images/v18_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 63px;
  overflow: hidden;
}
.v18_110 {
  width: 336px;
  color: rgba(94,94,94,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v18_111 {
  width: 329px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_113 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 157px;
  left: 34px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v18_114 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 220px;
  left: 31px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v37_204 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 74px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v37_206 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 74px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_222 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 23px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v37_224 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 66px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_228 {
  width: 236px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 421px;
  left: 23px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v37_230 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 66px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_234 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 493px;
  left: 23px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v37_236 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 66px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2359 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2358 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 702px;
  left: 57px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_216 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 286px;
  left: 29px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v37_218 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 72px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2360 {
  width: 159px;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 234px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2361 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 802px;
  left: 268px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v37_2362 {
  width: 159px;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 34px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_2363 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 800px;
  left: 52px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
