* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_91 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_92 {
  width: 430px;
  height: 932px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_2299 {
  width: 125px;
  height: 25px;
  background: url("../images/v49_2299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 9px;
  overflow: hidden;
}
.v71_523 {
  width: 430px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v81_10562 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 286px;
  overflow: hidden;
}
.v81_10563 {
  width: 33px;
  height: 28px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
}
.v81_10560 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 197px;
  overflow: hidden;
}
.v81_10561 {
  width: 33px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v81_10558 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  overflow: hidden;
}
.v81_10559 {
  width: 28px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 6px;
}
.v81_10551 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 19px;
  overflow: hidden;
}
.v81_10552 {
  width: 40px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v81_10564 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 375px;
  overflow: hidden;
}
.v81_10565 {
  width: 36px;
  height: 36px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v71_1134 {
  width: 305px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 62px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v71_1135 {
  width: 336px;
  height: 325px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 47px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v71_1136 {
  width: 266px;
  height: 47px;
  background: url("../images/v71_1136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 82px;
  overflow: hidden;
}
.v71_1137 {
  width: 266px;
  height: 47px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v71_1138 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 14px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v71_1139 {
  width: 266px;
  height: 47px;
  background: url("../images/v71_1139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 82px;
  overflow: hidden;
}
.v71_1140 {
  width: 266px;
  height: 47px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v71_1141 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 14px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v71_1145 {
  width: 266px;
  height: 47px;
  background: url("../images/v71_1145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 82px;
  overflow: hidden;
}
.v71_1146 {
  width: 266px;
  height: 47px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v71_1147 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 14px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
