* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_395 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_396 {
  width: 430px;
  height: 932px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_397 {
  width: 215px;
  height: 187px;
  background: url("../images/v7_397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  overflow: hidden;
}
.v7_417 {
  width: 430px;
  height: 529px;
  background: url("../images/v7_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 0px;
  overflow: hidden;
}
.v7_424 {
  width: 430px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 823px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_433 {
  width: 430px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 776px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_434 {
  width: 430px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_435 {
  width: 430px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_469 {
  width: 430px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_425 {
  width: 343px;
  height: 51px;
  background: url("../images/v7_425.png");
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 59px;
}
.v38_256 {
  width: 430px;
  height: 482px;
  background: rgba(255,255,255,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 0px;
  overflow: hidden;
}
.v7_427 {
  width: 406px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 689px;
  left: 27px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_436 {
  width: 302px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 738px;
  left: 77px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_430 {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 785px;
  left: 113px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_431 {
  width: 302px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_470 {
  width: 438px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v33_943 {
  width: 134px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 148px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v7_439 {
  width: 408px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 19px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v38_260 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 548px;
  left: 234px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
