* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v133_678 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_679 {
  width: 430px;
  height: 932px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_680 {
  width: 350px;
  height: 553px;
  background: url("../images/v133_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 40px;
  overflow: hidden;
}
.v133_681 {
  width: 350px;
  height: 553px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v133_691 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 132px;
  left: 22px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v133_693 {
  width: 430px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v133_694 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 286px;
  overflow: hidden;
}
.v133_695 {
  width: 33px;
  height: 28px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v133_696 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 197px;
  overflow: hidden;
}
.v133_697 {
  width: 33px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v133_698 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  overflow: hidden;
}
.v133_699 {
  width: 28px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v133_700 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 19px;
  overflow: hidden;
}
.v133_701 {
  width: 40px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v133_702 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 375px;
  overflow: hidden;
}
.v133_703 {
  width: 36px;
  height: 36px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v133_704 {
  width: 305px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  left: 62px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v133_705 {
  width: 125px;
  height: 25px;
  background: url("../images/v133_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 9px;
  overflow: hidden;
}
