* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v71_1261 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_1262 {
  width: 430px;
  height: 932px;
  background: rgba(255,250,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_1263 {
  width: 343px;
  height: 51px;
  background: url("../images/v71_1263.png");
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 39px;
}
.v71_1264 {
  width: 343px;
  height: 51px;
  background: url("../images/v71_1264.png");
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 39px;
}
.v71_1265 {
  width: 125px;
  height: 25px;
  background: url("../images/v71_1265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 9px;
  overflow: hidden;
}
.v71_1288 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 114px;
  left: 30px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_1332 {
  width: 343px;
  height: 51px;
  background: url("../images/v71_1332.png");
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 39px;
}
.v71_1333 {
  width: 343px;
  height: 51px;
  background: url("../images/v71_1333.png");
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 39px;
}
.v71_1334 {
  width: 103px;
  height: 152px;
  background: url("../images/v71_1334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 64px;
  overflow: hidden;
}
.v71_1335 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1336 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 1px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1337 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1338 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 129px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1339 {
  width: 204px;
  height: 215px;
  background: url("../images/v71_1339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 66px;
  overflow: hidden;
}
.v71_1340 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1341 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1342 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1343 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1344 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1345 {
  width: 139px;
  color: rgba(60,127,156,1);
  position: absolute;
  top: 186px;
  left: 44px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v71_1346 {
  width: 132px;
  color: rgba(60,127,156,1);
  position: absolute;
  top: 399px;
  left: 41px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v71_1347 {
  width: 323px;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1348 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 769px;
  left: 153px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1349 {
  width: 238px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 179px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1350 {
  width: 238px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 179px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1351 {
  width: 204px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 179px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1352 {
  width: 204px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 203px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1353 {
  width: 204px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 203px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1354 {
  width: 204px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 203px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1355 {
  width: 204px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 203px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1356 {
  width: 128px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 281px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v71_1357 {
  width: 343px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 66px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v71_1359 {
  width: 38px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 360px;
  left: 203px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1360 {
  width: 9px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 184px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v71_1361 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 360px;
  left: 330px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_1362 {
  width: 9px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 311px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v81_10681 {
  width: 430px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v81_10682 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 286px;
  overflow: hidden;
}
.v81_10683 {
  width: 33px;
  height: 28px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v81_10684 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 197px;
  overflow: hidden;
}
.v81_10685 {
  width: 33px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v81_10686 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  overflow: hidden;
}
.v81_10687 {
  width: 28px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v81_10688 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 19px;
  overflow: hidden;
}
.v81_10689 {
  width: 40px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v81_10690 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 375px;
  overflow: hidden;
}
.v81_10691 {
  width: 36px;
  height: 36px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
